
    <div class="row ">
        <div class="col-sm-12 readme">
            <img class="d-block w-100" src="../../../assets/img/index/app_procedure.jpg" alt="Graduate receives transcript">
           </div>
    </div>


    <div class="row no-gutters" style="margin-top:20px;">
        <div class="col-12">
            <div class="row ">
                <aside class="col-lg-4">
                    <app-ar-message></app-ar-message>
            </aside>

                <main class="col-lg-8">
                    <section class="row rowEdit">
                        <div class="col-12" >
                            <h1 class="text-edit">APPLICATION PROCEDURES</h1> 
                            <p class="text-justify"> Pentecostal Theological College offers a wide range of study opportunities at different 
                                levels of your career. These ranges from certificate to Diplomas. If standard 
                                study options dont apply to you, flexible study options may be more suitable.
                                All prospective candidates to enroll in PTC will be expected to follow the laid down 
                                procedure in order to receive admission to study any of the College programmes.</p>
                            <ol>
                                <li> The application forms can be obtained at the campus, pastorate centers and at the website <a href="../../../assets/application-form.pdf" target="_blank"><b>Download Aplication Form</b>.</a></li>
                                <li> The applicant will be required to fill the forms and submit to the office of the Academic Registrar Pentecostal Theological College, Mbale.</li>
                                <li>The Academic admission committee will meet to select and scrutinize the application forms.</li>
                                <li>The admission list will be displayed on the students Notice Board and on the website page.</li>
                                <li>The students will then be given the academic calendar as they pick their admission letters from the college campus.</li>
                            </ol>
                        </div>
                    </section>
                   
                </main>
                
            </div>     
    
        </div>
        
    </div>
    