
    <div class="row ">
        <div class="col-sm-12 readme">
            <img class="d-block w-100" src="../../../assets/img/index/app_procedure.jpg" alt="Graduate receives transcript">
            
           
     
        </div>
    </div>


    <div class="row no-gutters" style="margin-top:20px;">
        <div class="col-12">
            <div class="row ">
                <aside class="col-lg-4">
                    <img src="../../../assets/img/admins/ar.jpg" alt="Academic registrar" class="rounded img-fluid mx-auto d-block" style="width: 200px;">

                    <p class="text-center"> 
                        <em> <b> Ms. Grace Aluka </b> </em><br>
                        <em> <b><small>Academic Registrar</small></b> </em>
                    </p>
                    Thank you all our viewers/clients for choosing PTC among many. We as Pentecostal Theological College Love you, value you and... 
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#academics"> Read more</button>
                    <div id="academics" class="collapse">
                        <p class="text-justify" >
                            welcome you to apply for any course of your choice seen in our course list. We have highly qualified lecturers who are ready to help you achieve your academic and personal goals. we trust God will guide you to the right course to persue. You can download our application form, fill it and send it back to us on: ptheocombale23@gmail.com. As PTC, it is always our policy that you pass through the office of the academic Registrar and obtain right procedures and information about us <br> At PTC, Registrars' office will provide you with a number of services, including:</p>
                        <ul class="text-left">
                                   <li> Registration</li>
                                    <li>Student access to academic records</li>
                                    <li>Information on policies and procedures</li>
                                    <li>Conduct examinations</li>
                                    <li>Preparation of transcripts and records</li>
                                    <li>Grade recording and reporting</li>
                                   <li> Class schedules</li>
                                    <li>Certification of enrollment and/or graduation</li>
                                    <li>Course registration and add/drop forms</li>
                                   <li> Preparation of college statistics</li>                            
                        </ul>  
                    </div>  
                </aside>

                <main class="col-lg-8">
                    <section class="row rowEdit">
                        <div class="col-12" >
                            <h1 class="text-edit">APPLICATION PROCEDURES</h1> 
                            <p class="text-justify"> Pentecostal Theological College offers a wide range of study opportunities at different 
                                levels of your career. These ranges from certificate to Diplomas. If standard 
                                study options dont apply to you, flexible study options may be more suitable.
                                All prospective candidates to enroll in PTC will be expected to follow the laid down 
                                procedure in order to receive admission to study any of the College programmes.</p>
                            <ol>
                                <li> The application forms can be obtained at the campus, pastorate centers and at the website.</li>
                                <li> The applicant will be required to fill the forms and submit to the office of the Academic Registrar Pentecostal Theological College, Mbale.</li>
                                <li>The Academic admission committee will meet to select and scrutinize the application forms.</li>
                                <li>The admission list will be displayed on the students Notice Board and on the website page.</li>
                                <li>The students will then be given the academic calendar as they pick their admission letters from the college campus.</li>
                            </ol>
                        </div>
                    </section>
                   
                </main>
                
            </div>     
    
        </div>
        
    </div>
    