     
  <section class="row row-slide">
        <div class="col-12">
             <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="../../assets/img/about/history2.jpg" alt="Graduate receives transcript">
                </div>
              </div>
        
            </div>
        </div>
      </section>
    
                              
        <section class="row">
          <div class="col-12 ">
              <h2 class="text-edit"> Pentecostal Theological College Administrators </h2> 
          </div>
            <div class="col-12 ">         
                <p class="text-justify">
                    At the College we know the value of working as a Team. we have different administrative 
                    departments (i.e Department of community Transformation & Department of Theology) 
                    that collaborate to transform peoples lives by impacting a positive change in their ministries 
                    through Word and Deed!
                </p>
            </div>
        </section>
         
        <section class="row">

            <div class="col-md-4 text-center">
                    
                    <img src="../../../assets/img/about/principle.png" alt="Principle" class="rounded" style="width: 200px;">
                    <p class="text-center"> <em> <b> Rev. Eric Ogulu </b> </em><br>
                        <em> <b><small>  The Principle </small></b> </em>
                    </p>

                   
                <p class="text-justify pmargin-bottom">
                         
                        Dear Friends! Warm Greetings in the Name of our Lord Jesus Christ! It is with immense joy 
                        and delight that,I learn of your and keenness to learn more about the programmes offered at 
                        Pentecostal Theological College, 
                         <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#principle-read" aria-expanded="false" aria-controls="principle-read">
                          Read More
                         </button>
                </p>
                    
                    
                        <div class="collapse" id="principle-read">
                            <p class="text-justify pmargin-bottom">
                                Mbale- Uganda. Welcome! Our Bible College has been established
                                to equip and send forth well-trained and Spirit-filled Christian servant leaders who will work 
                                towards fulfilling the Great Commission of Jesus Christ (Matt. 28: 18-20). Our educational 
                                mandate is clearly seen in the obligation to carry out the teaching and equipping task for 
                                the church as enshrined in the  Great Commission
                               mandate. The Bible College is committed to offer scholastic training for 
                                      the varied church and community leaders, with the carefully designed curriculum emphasizing; 
                                      Bible based teaching that is Evangelical in Theology and Community Transformation. 
                                       Hence, our College offers Diploma in Bible and Theology and Certificate in Church 
                                       Ministries.  
                                         PTC is a family where each person lives for the other, and all live for God.
                                          The presence of the faculty and students from various denominational, cultural, 
                                          ethnic, and linguistic backgrounds enrich the community life of the college. 
                                          The prayer groups, talent shows in sports, etc. helps the members to celebrate the
                                           oneness in the other. The faculty supervised fieldwork exposure provides opportunity 
                                           for our students to translate the academic learning in class to practical field ministry
                                            experience. The <a href="">farm</a> in the college also provides the comprehensive approach and
                                             environment to the training that is the unique to our wholistic goal in leadership 
                                             training; especially for our student pastors. Looking forward to welcoming you to the 
                                             Pentecostal Theological College, Mbale. In His Mission we Go! .
                            </p>
                        </div>
                    
              
          </div>

            <div class="col-md-4 text-center">
                    <img src="../../../assets/img/about/rev.catherine.png" alt="Dr. Catherine Pysar" class="rounded" style="width: 200px;">
                    <p class="text-center"> <em> <b>  Dr. Catherine Pysar</b> </em><br>
                        <em> <b><small>  Research & Professional development </small></b> </em>   
                                       
                    </p>
                   

                <p class="text-justify">
                         
                        Welcome to the future expansion of PTC in Migaddi. PTC is building a transformational education
                        designed to transform the community in today's generation and the future generation whether 
                        living in the rural or urban. 
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#Rpd-read" aria-expanded="false" aria-controls="principle-read">
                            Read More
                        </button>  
                         
                </p>
                <div class="collapse text-justify" id="Rpd-read">
                    A transformational college equips students with skills that empower communities of varying sizes.
                    Knowledgeable leaders are urgently needed in our Global World. We are deliberately designing
                     programs that are committed to effectively impact and transform nations. 
                     This is accomplished by using Biblical knowledge as the foundation as well as actions which 
                     demonstrate the power of the Gospel of Jesus Christ. Thank you for your interest in PTC's 
                     future!
                </div>
                
            </div>

            <div class="col-md-4 text-center">
                    <img src="../../../assets/img/about/rev.labu.png" alt="Academic Dean" class="rounded" style="width: 200px;">
                    <p class="text-center">
                        <em> <b> Rev. Labu Alfred</b> </em><br>
                        <em> <b><small>  Academic Dean </small></b> </em> 
                    </p>
                    <p class="text-justify pmargin-bottom" >
                            PTC envisions dynamic church and community leaders, who will impact and transform  ... 
                            communities and nations through effective leadership Skills.
                            You are welcome to Pentecostal Theological College and 
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#acamedic-dean" aria-expanded="false" aria-controls="acamedic-dean">
                              Read more
                            </button>                          
                               
                    </p>
                    <div class="collapse text-justify" id="acamedic-dean">
                       <p class="text-justify pmargin-bottom">
                          Am excited  and honored that you are 
                        visiting our website. PTC was established by the Church (PAG) to train and equip church and 
                        community leaders to serve their communities from a Biblical and Christian perspective.
                        From its inception to date PTC has been involved in training and equipping leaders for both 
                        the Church and Community within and without Uganda.
                      PTC runs two Departments with diploma and certificate programs as it can be viewed from our
                      website. The college has developd a modular program. This is a student friendly and convenient for the busy and working 
                      students who will study at their own pace without any obstruction from what they are doing. <br>
                     I invite you to take a close look at our programs at the web and give us an opportunity to equip you 
                     to serve your Church and Community effectively.Best wishes in your ministry and career.
                       </p> 
                    </div>
                
            </div>


        </section><!--College admins-->
            <section class="row">

            <div class="col-md-6 text-center">
                    
                    <img src="../../../assets/img/about/principle.png" alt="Academic Registrar" class="rounded" style="width: 200px;">
                    <p class="text-center"> <em> <b> Ms. Grace Aluka </b> </em><br>
                        <em> <b><small>  Academic Registrar </small></b> </em>
                    </p>

                   
                <p class="text-justify pmargin-bottom">
                    Thank you all our viewers/clients for choosing PTC among many. We as Pentecostal Theological College Love you, value you and        
                    welcome you to apply for any course of your choice seen in our course list. We have highly qualified lecturers who are ready 
                    to help you achieve your academic and personal goals. we trust God will guide you to the right course to persue. You can
                    
                        
                         <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#AR-read" aria-expanded="false" aria-controls="AR-read">
                          Read More
                         </button>
                </p>
                      <div class="collapse" id="AR-read">
                            <p class="text-justify pmargin-bottom">
                                 download our application form, fill it and send it back to us on: ptheocombale23@gmail.com.
                                As PTC, it is always our policy that you pass through the office of the academic Registrar and obtain right procedures and 
                                information about us <br> At PTC, Registrars' office will provide you with a number of services, including:  
                            </p>
                                <ul class="text-left">
                                    <li> Registration</li>
                                     <li>Student access to academic records</li>
                                     <li>Information on policies and procedures</li>
                                     <li>Conduct examinations</li>
                                     <li>Preparation of transcripts and records</li>
                                     <li>Grade recording and reporting</li>
                                    <li> Class schedules</li>
                                     <li>Certification of enrollment and/or graduation</li>
                                     <li>Course registration and add/drop forms</li>
                                    <li> Preparation of college statistics</li>
                             
                                 </ul>
 
                        </div>
                    
              
            </div>

            <div class="col-md-6 text-center">
                    <img src="../../../assets/img/about/rev.labu.png" alt="Dean of Students" class="rounded" style="width: 200px;">
                    <p class="text-center">
                        <em> <b> Rev. Nangai Michael</b> </em><br>
                        <em> <b><small>  Dean of Students </small></b> </em> 
                    </p>
                    <p class="text-justify pmargin-bottom" >
                        I am happy you have chosen to become a member of the Pentecostal Theological College Family! The Pentecostal Theological
                        College and the Office of the Dean of Students are your partners in your quest to reach your academic and personal goals. 
                        Orientation is the first step on this remarkable journey. During orientation, you will have the opportunity to learn 
                        more about strategies for adjusting to college successfully,  
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#DOS-read" aria-expanded="false" aria-controls="acamedic-dean">
                              Read more
                            </button>
                           
                               
                    </p>
                    <div class="collapse text-justify" id="DOS-read">
                        getting involved on campus, and making good choices. 
                        These sessions provide practical and valuable information on our policies and the many programs and services 
                        we have in place to promote a healthy environment, supportive of student success. 
                        I encourage you to attend these sessions. The set of expectations for PTC students provides a clear path to student 
                        success at PTC, encouraging students to EXCEL, STRETCH, ENGAGE, CHOOSE, and SERVE. The expectations encourage 
                        students to choose wisely and make decisions of which they, their families, and their institution can be proud. 
                        I am confident in your ability to meet these expectations and we will do all we can to support you in doing so.
                        We hope you will embrace these PTC expectations and

                        <ol>
                            <li>  EXCEL academically</li>
                             <li>STRETCH yourself and try something new</li>
                             <li>ENGAGE on campus and in the community</li>
                             <li>CHOOSE to make decisions that will elevate you and your future</li>
                             <li>SERVE God, the campus and community</li>
                        </ol>
                        <p class="text-justify">
                          As you choose your path, we dont want high-risk behaviors to spoil your orientation experience or to jeopardize the 
                          considerable investment you are about to make in your education. We are committed to helping all students be
                           successful at PTC. During orientation, you will learn about bystander intervention, which is one of the ways we are
                            working to ensure safety on campus. We all have a role in campus safety - we are counting on you to play an active 
                            part. There are College Regulations and Rules that all students must abide by. The College Regulations cover 
                            programs and examinations, library, registration among others, and there are College rules on the students conduct 
                            obtained from the Dean of Students Office in the ADMIN 1 building.</p>
                        <p class="text-left">
                          The College Affairs and Disciplinary Committee deals with disciplinary matters of students. It is advisable that 
                          students avoid acts which might make them appear before the College Disciplinary Committee. The College is
                           non-tolerant to acts of hooliganism and all sorts of immorality. students should ensure that they read all the
                            college regulations and rules, and abide by them.</p>
                      <p class="text-justify">
                            A high degree of spiritual excellence is sought and encouraged by both faculty and students body. Private devotion,
                             morning and evening, along with daily chapel services in which students and faculty participates, 
                             helps to achieve this goal: In addition, College is an amazing time of life - 
                             I hope you will make the most of it!                            
                        </p>
                    </div>

                   
              


                
            </div>
            

        </section><!--College admins-->
          
         
        
       
    
    
    