     
  <section class="row row-slide">
        <div class="col-12">
             <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="../../assets/img/about/history2.jpg" alt="Graduate receives transcript">
                </div>
              </div>
        
            </div>
        </div>
      </section>
    
                              
<div class="container">
  <section class="row">
    <div class="col-12 ">
        <h2 class="text-edit"> <b>Pentecostal Theological College Administrators</b> </h2> 
    </div>
      <div class="col-12 ">         
          <p class="text-justify">
              At the College we know the value of working as a Team. we have different administrative 
              departments (i.e Department of community Transformation & Department of Theology) 
              that collaborate to transform peoples lives by impacting a positive change in their ministries 
              through Word and Deed!
          </p>
      </div>
  </section>
   
  <section class="row">

      <div class="col-md-4 text-center">
              
              <img src="../../../assets/img/about/principle.png" alt="Principle" class="rounded" style="width: 200px;">
              <p class="text-center"> <em> <b> Rev. Eric Ogulu </b> </em><br>
                  <em> <b><small>  The Principle </small></b> </em>
              </p>

             
          <p class="text-justify pmargin-bottom">
                   
                  Dear Friends! Warm Greetings in the Name of our Lord Jesus Christ! It is with immense joy 
                  and delight that,I learn of your and keenness to learn more about the programmes offered at 
                  Pentecostal Theological College, 
                   <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#principle-read" aria-expanded="false" aria-controls="principle-read">
                    Read More
                   </button>
          </p>
              
              
                  <div class="collapse" id="principle-read">
                      <p class="text-justify pmargin-bottom">
                          Mbale- Uganda. Welcome! Our Bible College has been established
                          to equip and send forth well-trained and Spirit-filled Christian servant leaders who will work 
                          towards fulfilling the Great Commission of Jesus Christ (Matt. 28: 18-20). Our educational 
                          mandate is clearly seen in the obligation to carry out the teaching and equipping task for 
                          the church as enshrined in the  Great Commission
                         mandate. The Bible College is committed to offer scholastic training for 
                                the varied church and community leaders, with the carefully designed curriculum emphasizing; 
                                Bible based teaching that is Evangelical in Theology and Community Transformation. 
                                 Hence, our College offers Diploma in Bible and Theology and Certificate in Church 
                                 Ministries.  
                                   PTC is a family where each person lives for the other, and all live for God.
                                    The presence of the faculty and students from various denominational, cultural, 
                                    ethnic, and linguistic backgrounds enrich the community life of the college. 
                                    The prayer groups, talent shows in sports, etc. helps the members to celebrate the
                                     oneness in the other. The faculty supervised fieldwork exposure provides opportunity 
                                     for our students to translate the academic learning in class to practical field ministry
                                      experience. The <a href="">farm</a> in the college also provides the comprehensive approach and
                                       environment to the training that is the unique to our wholistic goal in leadership 
                                       training; especially for our student pastors. Looking forward to welcoming you to the 
                                       Pentecostal Theological College, Mbale. In His Mission we Go! .
                      </p>
                  </div>
              
        
    </div>

      <div class="col-md-4 text-center">
              <img src="../../../assets/img/about/rev.catherine.png" alt="Dr. Catherine Pysar" class="rounded" style="width: 200px;">
              <p class="text-center"> <em> <b>  Dr. Catherine Pysar</b> </em><br>
                  <em> <b><small>  Research & Professional development </small></b> </em>   
                                 
              </p>
             

          <p class="text-justify">
                   
                  Welcome to the future expansion of PTC in Migaddi. PTC is building a transformational education
                  designed to transform the community in today's generation and the future generation whether 
                  living in the rural or urban. 
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#Rpd-read" aria-expanded="false" aria-controls="principle-read">
                      Read More
                  </button>  
                   
          </p>
          <div class="collapse text-justify" id="Rpd-read">
              A transformational college equips students with skills that empower communities of varying sizes.
              Knowledgeable leaders are urgently needed in our Global World. We are deliberately designing
               programs that are committed to effectively impact and transform nations. 
               This is accomplished by using Biblical knowledge as the foundation as well as actions which 
               demonstrate the power of the Gospel of Jesus Christ. Thank you for your interest in PTC's 
               future!
          </div>
          
      </div>

      <div class="col-md-4 text-center">
              <img src="../../../assets/img/about/rev.labu.png" alt="Academic Dean" class="rounded" style="width: 200px;">
              <p class="text-center">
                  <em> <b> Rev. Labu Alfred</b> </em><br>
                  <em> <b><small>  Academic Dean </small></b> </em> 
              </p>
              <p class="text-justify pmargin-bottom" >
                      PTC envisions dynamic church and community leaders, who will impact and transform  ... 
                      communities and nations through effective leadership Skills.
                      You are welcome to Pentecostal Theological College and 
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#acamedic-dean" aria-expanded="false" aria-controls="acamedic-dean">
                        Read more
                      </button>                          
                         
              </p>
              <div class="collapse text-justify" id="acamedic-dean">
                 <p class="text-justify pmargin-bottom">
                    Am excited  and honored that you are 
                  visiting our website. PTC was established by the Church (PAG) to train and equip church and 
                  community leaders to serve their communities from a Biblical and Christian perspective.
                  From its inception to date PTC has been involved in training and equipping leaders for both 
                  the Church and Community within and without Uganda.
                PTC runs two Departments with diploma and certificate programs as it can be viewed from our
                website. The college has developd a modular program. This is a student friendly and convenient for the busy and working 
                students who will study at their own pace without any obstruction from what they are doing. <br>
               I invite you to take a close look at our programs at the web and give us an opportunity to equip you 
               to serve your Church and Community effectively.Best wishes in your ministry and career.
                 </p> 
              </div>
          
      </div>


  </section><!--College admins-->

</div>

         
        
       
    
    
    