div a.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #000;
    border-color: #343a40;
    background-color: #343a40;
}
a.selected {
    background-color: RED;
    color: white;
  }
a.selected:hover {
    background-color: #BBD8DC;
  }