     
  <section class="row row-slide">
    <div class="col-12">
         <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../../assets/img/about/history2.jpg" alt="Graduate receives transcript">
              <h1 class="text-edit"> Pentecostal Theological College Programmes </h1> 
              <p class="text-justify">
                  All our courses are accredited by the National council for Higher 
                  Education. We have experienced and Knowledgable Lecturers who have 
                  studied both in and outside Uganda and so they bring the latest
                  information and experince directly to the lecture rooms. 
                  <br>Whether you are studying for Certificate, or Diploma, you will be 
                               able to bring change in your community and church setting, 
                               through the acquired skills and knowledge from PTC. Our <a href="#">Tuition</a> is
                                cost friendly .                    
               </p>
            
            </div>
          </div>
    
        </div>
    </div>
  </section>


<div class="row no-gutters" style="margin-top:20px;">
    <div class="col-12">
        <div class="row ">
            <main class="col-lg-9">
                <section class="row rowEdit">
                    <div class="col-12" >
                        <div class="inner-cols">
                            <router-outlet></router-outlet> 
                         </div>               
                    </div>
                </section>
               
            </main>
            <aside class="col-lg-3">
                <section class="row rowEdit" >
                    <div class="col-12">
                        <div class="inner-cols">
                          <app-all-courses></app-all-courses>
                        </div>
                    </div>
                 </section>
            </aside>
        </div>     

    </div>
    
</div>



