     
  <section class="row row-slide">
    <div class="col-12">
         <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../../assets/img/about/history2.jpg" alt="Graduate receives transcript">
              <h1 class="text-edit"> Pentecostal Theological College Programmes </h1> 
              <p class="text-justify">
                  All our courses are accredited by the National council for Higher 
                  Education. We have experienced and Knowledgable Lecturers who have 
                  studied both in and outside Uganda and so they bring the latest
                  information and experince directly to the lecture rooms. 
                  Whether you are studying for Certificate, or Diploma, you will be 
                  able to bring change in your community and church setting, 
                  through the acquired skills and knowledge from PTC. Our Tuition is
                  cost friendly .                    
               </p>
            
            </div>
          </div>
    
        </div>
    </div>
  </section>
  

<div class="row no-gutters" style="margin-top:20px;">
    <div class="col-12">
        <div class="row ">

			<aside class="col-lg-3">
				<div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id ="list-home-list" data-toggle="list" href="#"
					   role="tab" aria-controls="all" (click)="onClickAll()">All</a>
					<a class="list-group-item list-group-item-action " id ="list-diploma-list" data-toggle="list" href="#"
					   role="tab" aria-controls="diploma" (click)="onClickDiploma()">Diploma</a>
					<a class="list-group-item list-group-item-action" id="list-certificate-list" data-toggle="list" href="#"
					   role="tab" aria-controls="certificate" (click)="onClickCertificate()">Certificate</a>
				
				</div>

			</aside>
            <main class="col-lg-9">
                <section class="row rowEdit">
                    <!-- <div class="col-12" >
                        <div class="tab-content" id="nav-tab-content">
                          <div class="tab-pan fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                            <router-outlet></router-outlet>
                          </div>
                          <div class="tab-pane fade" id="list-certificate" role="tabpanel" aria-labelledby="list-certificate-list">
                            <router-outlet></router-outlet>
                          </div>
                        </div>
                    </div> -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-2">Search:</div>
                        <div class="col-md-2">
                          <input type="text"
                           [(ngModel)]='listFilter'/> 
                        </div>
                      </div>
                      <!-- <div class="row">
                        <div class="col-md-6">
                          <h4> Filtered by:{{listFilter}} </h4>
                        </div>
                      </div> -->
                    </div>

                    <div class="table-responsive">
                      <table class="table table-striped table-responsive-md"  *ngIf="programmes && programmes.length"> 
                        <thead class="thead-dark">
                            <tr>
                                <th> Pragrammes</th> 
                                <th> Duration</th> 
                                <th> Day(UGX)</th>
                                <th> Long Distance Learning(UGX)</th> 
                            </tr>
                        </thead>
                        <tbody>                    
                          <tr *ngFor="let programme of filteredProgrammes">
                            <td> 
                              <!-- <a [routerLink]="['/programmes', programme.programmeId]"> -->
                                <a [routerLink]="['/programmes', programme.id]">
                                {{programme.programmeName}}
                              </a>
                            </td>
                            <td>{{programme.programme_duration}}</td>
                            <td>{{programme.programme_tuition}}</td>  
                            <td>{{programme.programme_distance_learning}}</td>  
                            <td><a [routerLink]="['/programmes', programme.id, 'edit']">Edit</a> </td>             
                          </tr>
                        </tbody>
                      </table>
                      <h2 class="text-edit">FUNCTIONAL FEES</h2>
                      <a  href="../../../assets/FeesStructure.pdf"> Functional fees</a> per Semester

                      <h2 class="text-edit">ENTRY REQUIREMENTS</h2>
                          <h3 class="text-edit3">For  Diploma</h3>                    
                          <ol>  <li>O-Level and A-level certificate with at least 1 principle pass </li>
                                <li>Certificate from a recognized institution or its equivalent </li>
                         </ol> 
                         <h3 class="text-edit3">For  Certificate</h3>                    
                         <ol>  <li>O-Level certificate with at least 3 passes or its Equivalent </li>
                          </ol> 
                      </div>

                      <!-- <p >
                        <small> <b> * This doesn't include </b><br>
                                <b> * Pentecostal Theological College reserves the right to adjust this fees at the start
                                    of every semester should the situation warrant it. 
                              </b>
                     </small>
                     </p>        -->
                      
                </section>
                <app-testmonies></app-testmonies>
               
            </main>
            
        </div>     

    </div>
    
</div>



