# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db


#ignore all .a files
*.a

#but do track lib.a, even though you're ignoring .a files above
!lib.a

#only ignore the TODO file in the current directory, not subdir/TODO
/TODO

#ignore all files in any directory named build
build/

#ignore doc/notes.txt. but not doc/server/arch.txt
doc/*.txt

#ignore all .pdf files  in the doc/directory an any of its subdirectories 
doc/**/*.pdf

