<div class="row no-gutters">
        <div class="col-12">
            <div class="row ">
                <main class="col-lg-9">
                    <section class="row rowEdit">
                        <div class="col-12" >
                            <div class="inner-cols">
                                    <h2 class="text-edit">Our Tuition</h2>
                                    <table class="table table-striped table-responsive-md"> 
                                        <thead class="thead-dark">
                                            <tr>
                                                <th> Pragrammes</th> 
                                                <th> Duration</th> 
                                                <th> Day(UGX)</th>
                                                <th> Long Distance Learning(UGX)</th> 
                                            </tr>
                                        </thead>
                                                <tbody>
                                                    <tr><td><a [routerLink]="['/programme-diploma-bible-theology']">Diploma in Bible Theology.</a></td> 
                                                        <td>Two years</td>
                                                        <th>165,000</th>
                                                        <th>200,000</th>
                                                    </tr>
                                                    <tr>
                                                        <td><a [routerLink]="['/programme-diploma-it']">Diploma in Information Communication Technology.</a></td> 
                                                        <td>Two years</td>
                                                        <td>495,000</td>
                                                        <td> Null</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a [routerLink]="['/programme-diploma-agri-business']">Diploma in Agri-business.</a></td> 
                                                        <td>Two years</td>
                                                        <td>495,000</td>
                                                        <td>Null</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a [routerLink]="['/programme-diploma-socail-dev']">Diploma in Social Development. </a></td> 
                                                        <td>Two years</td>
                                                        <td>393,000</td>
                                                        <td>Null</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a [routerLink]="['/programme-diploma-child-dev']">Diploma in Child Development.</a></td> 
                                                        <td>Two years</td>
                                                        <td>393,000</td>
                                                        <td>Null</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a [routerLink]="['/programme-diploma-counseling-and-guidance']">Diploma in Counseling and guidance.</a></td> 
                                                        <td>Two year</td>
                                                        <td>393,000</td>
                                                        <td>Null</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a href="#">Certificate in Church Ministries </a></td> 
                                                        <td>One year</td>
                                                        <td>115,500</td>
                                                        <td>Null</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a [routerLink]="['/programme-diploma-it']">Certificate in Information Communication Technology .</a>
                                                        </td> <td>One year</td>
                                                        <td>Null</td>
                                                        <td>Null</td>
                                                    </tr>
                                                    <tr>
                                                        <td><a [routerLink]="['/programme-diploma-agri-business']">Certificate in Agri-business.</a></td> 
                                                        <td>One year</td>
                                                        <td>Null</td>
                                                        <td>Null</td>
                                                    </tr>                                               
                                                </tbody>                        
                                    </table>

                                    <p style="">
                                       <small> <b> * This doesn't include functional fees per Semester <br>
                                                   * Pentecostal Theological College reserves the right to adjust this fees at the start
                                                   of every semester should the situation warrant it. 
                                             </b>
                                    </small>
                                    </p>
                             </div>               
                        </div>
                    </section>
                   
                </main>
                <aside class="col-lg-3">
                    <section class="row rowEdit" >
                        <div class="col-12">
                            <div class="inner-cols">
                                <app-all-courses></app-all-courses>
                            </div>
                        </div>
                     </section>
                </aside>
            </div>     
    
        </div>
        
    </div>
    
    
