<div class="row no-gutters">
        <div class="col-12">
            <div class="row ">
                <main class="col-lg-9">
                    <section class="row rowEdit">
                        <div class="col-12" >
                          
                            <div class="inner-cols">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <img class="d-block w-100" src="../../assets/img/programmes/theology.jpg" alt="Graduate receives transcript">
                                      </div>
                                    </div>
                                 </div> 
                                    <h1 class="text-edit">  Bibilical Theology </h1> 
                                    The core course units covered are:
                                    <ul>
                                       <li> 
                                           <b>General church History.</b> This unit  is designed to give an over view of history of the church from birth through Reformation(1517) to the present. An introduction of African church History with a focus in the activities of the missionaries in Africa
                                       </li><li> 
                                           <b> World Religions.</b> The unit is a survey of the major world religions with a greater emphasis on their origin and doctrinal positions.</li><li> 
                                           <b>Christian education. </b>The unit focuses on  the development of education in the church with attentions being given to Sunday school, leadership training, children’s ministry, youth ministry, adult ministries and other related church ministries. </li> <li> 
                                           <b>Communication skills.</b> The unit is designed to help students interpret written information and apply conventional methods of communication in the English language.</li> <li> 
                                           <b>The church and community.</b> Greater focus is put on how the church can use the holistic approach to development as an effective tool to enhancing the well-being of communities’ in areas such as  poverty, health, housing, and environment using the participatory evaluation approach.</li> <li> 
                                           <b>Homiletics. </b>The unit focuses on equipping students with the basic principles for effective biblical preaching.</li><li>  
                                           <b>Christian Counselling. </b> The unit seeks to assure the students that Bible based counselling, dependent upon Biblical truths and ministry of the Holy Spirit, is superior to all other humanistic approaches to people’s needs.</li> <li> 
                                           <b>Church and Worship.</b> The unit equips the students with basic knowledge of music to help in church worship.</li> <li>
                                           <b>Pastoral Ministry.</b> The course unit seeks to show the pastor how they may order their own life and the life of their flock so that their joint service may be most effective in extending the kingdom of God on the earth.</li> <li>
                                           <b>Apologetics.</b> The student will be exposed to various argument that have ben fronted in defence of the Christian faith. </li> <li> 
                                           <b>Harm/ Soteriology.</b> This deals with the work of Christ in bringing lost persons into fellowship with God
                                           <b>Christology.</b> The study of the doctrine of the person and work of Christ.</li> <li> 
                                           <b>Ecclesiology and Eschatology.</b> The unit looks at the church in the light of what the Bible says are event that will characterize the end of this age.</li> <li> 
                                        <b>Pentateuch.</b> This course unit is the study of five books of the law i.e from Genesis to Deuteronomy.</li><li>
                                          <b> Major Prophets.</b> The course covers a detailed study of the books of Isaiah , Jeremiah, Lamentations, Ezekiel and Daniel.</li> <li> 
                                        <b>Bible Survey.</b> The course seeks to introduce a panoramic view of the Old and New Testament books pointing out the major themes in both the Testaments.</li> <li> 
                                           <b>Pauline Epistles.</b> The course unit give an over view of Paul’s epistles of Romans, 1 & 2 Corinthians, Galatians and the prison epistles but with greater emphasis on Romans and Corinthians.</li> <li> 
                                           <b>Hebrews.</b> This is a detailed study of the book, beginning with authorship, date, purpose and destination.</li><li>
                                           <b> Acts of the Apostles. </b>This course unit cover the origin and spread of the Church with emphasis on the role of the Holy Spirit.</li> <li> 
                                        <b> Hermeneutics.</b> This is the study of principles and tools used in sound interpretation of the Bible.</li>
                                    </ul>
                                    
                            </div>
                      </div>
                    </section>
                   
                </main>
                <aside class="col-lg-3">
                    <section class="row rowEdit" >
                        <div class="col-12">
                            <div class="inner-cols">
                              <app-all-courses></app-all-courses>
                            </div>
                        </div>
                     </section>
                </aside>
            </div>     
    
        </div>
        
    </div>
    
    
    