     
  <section class="row row-slide">
    <div class="col-12">
         <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../../assets/img/about/history2.jpg" alt="Graduate receives transcript">
              <h2 class="text-edit"> Life at the College </h2> 
              <p class="text-justify">
                The story of world-changing social movements and social innovation often begins at the community 
                level. Pentecostal Theological College offers you good environment of learning such as good classrooms, 
                well qualified and committed staff, dining hall, halls of residence for both male and female
                 students, computer lab, library, chapel and playing grounds.   
                 as well as a multitude of ways to get close to the day-to-day challenges and aspirations 
                 through her programs. <br>We partner with a number of friends and organizations 
                 in the world over area that offer scholarships<!--<a href="scholarships.php"> scholarships</a> -->, 
                 serve as case-study locations for coursework, and provide opportunities for real-world learning.
                  We help you connect your studies to local community-building organizations working on 
                  issues like church leadership, economic development, sustainability, 
                  and agribusiness and social equity                     
              </p>
            
            </div>
          </div>
    
        </div>
    </div>
  </section>

  <section class="row">
      <br>
    <div class="col-12 ">
        <div class="card-deck">
            <div class="card">
                <img src="../../../assets/img/index/g2.png" class="img-rounded card-img-top" alt="Student Guild">
                <div class="card-body">
                    <h5 class="card-title">Student Guild</h5>
                    <p class="card-text text-justify">
                        The guild council is formed to co-ordinate the activities of the students in collaboration with the administration. 
                        Some of the activities include; Games & sports, Outreach Ministries, Chapel services, etc. 
                        The guild leadership is elected into office after every one year
                    </p>
                </div>
            </div>

            <div class="card">
                <img src="../../../assets/img/index/hostel.png" class="img-rounded card-img-top " alt="Accomodation">
                <div class="card-body">
                    <h5 class="card-title">Accomodation </h5>
                    <p class="card-text text-justify">
                        Residence life is a special experience. Staying in a PTC residence is an extension of students' Higher education, 
                        where they can benefit from all the facilities and services such as student learning centres, social and sporting 
                        activities, life-skills and peer-tutoring programme.
                    </p>
                </div>
            </div>

            <div class="card ">
                <img src="../../../assets/img/index/sport.png" class="img-rounded card-img-top" alt="Sports">
                <div class="card-body">
                    <h5 class="card-title">Sports</h5>
                    <p class="card-text text-justify">
                        Pentecostal Theological College Mbale offers a great opportunity for you to carry on with the sports you love or to try your hands at something 
                        completely new. There are Sporting games and their respective captains
                    </p>
                </div>
            </div>
        </div><!--card deck-->
    </div>
 </section>
  
<!--
<div class="row no-gutters" style="margin-top:20px;">
    
    <div class="col-4">
        <div class="row ">
            <div class="card" style="width: 18rem">
                <img src="..." class="card-img-top" alt="the guild council">
                <div class="card-body">
                    <h5 class="card-title">Student Guild Council</h5>
                    <p class="card-text">
                        The guild council is formed to co-ordinate the activities of the students in collaboration 
                        with the administration. Some of the activities include; Games & sports, Outreach Ministries, 
                        Chapel services, etc. The guild leadership is elected into office after every one year
                    </p>
                </div>

            </div>
            
        </div>     

    </div>

    <div class="col-4">
        <div class="row ">
            <div class="card" style="width: 18rem">
                <img src="..." class="card-img-top" alt="the guild council">
                <div class="card-body">
                    <h5 class="card-title">Student Guild Council</h5>
                    <p class="card-text">
                        The guild council is formed to co-ordinate the activities of the students in collaboration 
                        with the administration. Some of the activities include; Games & sports, Outreach Ministries, 
                        Chapel services, etc. The guild leadership is elected into office after every one year
                    </p>
                </div>

            </div>
            
        </div>     

    </div>
-->




