  
    <div class="row ">
        <div class="col-sm-12 readme">
            <img class="d-block w-100" src="../../../assets/img/index/college_life.jpg" alt="Graduate receives transcript">
            <h2 class="text-edit"> Life at the College </h2>
        </div>
    </div>

    <div class="row no-gutters" style="margin-top:20px;">
        <div class="col-12">
            <div class="row ">
                <aside class="col-lg-4">
                    <img src="../../../assets/img/admins/Deanstudent.jpg" alt="Academic registrar" class="rounded img-fluid mx-auto d-block" style="width: 200px;">

                    <p class="text-center"> 
                        <em> <b> Pr. Mutto Andrew </b> </em><br>
                        <em> <b><small>Dean of Students</small></b> </em>
                    </p>
                    I am happy you have chosen to become a member of the Pentecostal Theological College Family! The Pentecostal Theological ... 
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#academics"> Read more</button>
                    <div id="academics" class="collapse">
                        During orientation, you will have the opportunity to learn more about strategies for adjusting to college successfully, 
                        getting involved on campus, and making good choices. These sessions provide practical and valuable information 
                        on our policies and the many programs and services we have in place to promote a healthy environment, 
                        supportive of student success. I encourage you to attend these sessions. The set of expectations 
                        for PTC students provides a clear path to student success at PTC, encouraging students to EXCEL, 
                        STRETCH, ENGAGE, CHOOSE, and SERVE. The expectations encourage students to choose wisely and make
                         decisions of which they, their families, and their institution can be proud. I am confident in your 
                         ability to meet these expectations and we will do all we can to support you in doing so.<br>
                            We hope you will embrace these PTC expectations and
                        
                         <ol class="text-left">
                                   <li>  EXCEL academically</li>
                                    <li>STRETCH yourself and try something new</li>
                                    <li>ENGAGE on campus and in the community</li>
                                    <li>CHOOSE to make decisions that will elevate you and your future</li>
                                    <li>SERVE God, the campus and community</li>
                         </ol>
                          <p class="text-justify">As you choose your path, we dont want high-risk behaviors to spoil your orientation experience or to jeopardize the considerable investment you are about to make in your education. We are committed to helping all students be successful at PTC. During orientation, you will learn about bystander intervention, which is one of the ways we are working to ensure safety on campus. We all have a role in campus safety - we are counting on you to play an active part. There are College Regulations and Rules that all students must abide by. The College Regulations cover programs and examinations, library, registration among others, and there are College rules on the students conduct obtained from the Dean of Students Office in the ADMIN 1 building.</p>
                            <p class="text-left">The College Affairs and Disciplinary Committee deals with disciplinary matters of students. It is advisable that students avoid acts which might make them appear before the College Disciplinary Committee. The College is non-tolerant to acts of hooliganism and all sorts of immorality. students should ensure that they read all the college regulations and rules, and abide by them.</p>
                          <p class="text-justify">
                                A high degree of spiritual excellence is sought and encouraged by both faculty and students body. Private devotion, morning and evening, along with daily chapel services in which students and faculty participates, helps to achieve this goal: In addition, College is an amazing time of life - I hope you will make the most of it!                            
                            </p>

                    </div>  
                </aside>

                <main class="col-lg-8">
                    <section class="row rowEdit">
                        <div class="col-12" >
                            <p class="text-justify">
                                The story of world-changing social movements and social innovation often begins at the community 
                                level. Pentecostal Theological College offers you good environment of learning such as good classrooms, 
                                well qualified and committed staff, dining hall, halls of residence for both male and female
                                 students, computer lab, library, chapel and playing grounds.   
                                 as well as a multitude of ways to get close to the day-to-day challenges and aspirations 
                                 through her programs. <br>We partner with a number of friends and organizations 
                                 in the world over area that offer scholarships<!--<a href="scholarships.php"> scholarships</a> -->, 
                                 serve as case-study locations for coursework, and provide opportunities for real-world learning.
                                  We help you connect your studies to local community-building organizations working on 
                                  issues like church leadership, economic development, sustainability, 
                                  and agribusiness and social equity                     
                            </p>

                            <div class="row row-cols-1 row-cols-md-2">
                                <div class="col mb-4">
                                    <div class="card">
                                        <img src="../../../assets/img/index/g2.png" class="img-rounded card-img-top" alt="Student Guild">
                                        <div class="card-body">
                                            <h5 class="card-title"> Guild Counsel</h5>
                                            <p class="card-text text-justify">
                                                The guild council is formed to co-ordinate the activities of the students in collaboration with the administration. 
                                                Some of the activities include; Games & sports, Outreach Ministries, Chapel services, etc. 
                                                The guild leadership is elected into office after every one year
                                            </p>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="card">
                                        <img src="../../../assets/img/index/hostel.png" class="img-rounded card-img-top " alt="Accomodation">
                                        <div class="card-body">
                                            <h5 class="card-title">Accomodation </h5>
                                            <p class="card-text text-justify">
                                                Residence life is a special experience. Staying in a PTC residence is an extension of students' Higher education, 
                                                where they can benefit from all the facilities and services such as student learning centres, social and sporting 
                                                activities, life-skills and peer-tutoring programme.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="card">
                                        <img src="../../../assets/img/index/sport.png" class="img-rounded card-img-top" alt="Sports">
                                        <div class="card-body">
                                            <h5 class="card-title">Sports</h5>
                                            <p class="card-text text-justify">
                                                Pentecostal Theological College Mbale offers a great opportunity for you to carry on with the sports you love or to try your hands at something 
                                                completely new. There are Sporting games and their respective captains
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </section>
                   
                </main>
                
            </div>     
    
        </div>
        
    </div>
   



