<div class="row no-gutters">
        <div class="col-12">
            <div class="row ">
                <main class="col-lg-9">
                    <section class="row rowEdit">
                        <div class="col-12" >
                          
                            <div class="inner-cols">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <img class="d-block w-100" src="../../assets/img/programmes/ict.jpg" alt="Graduate receives transcript">
                                      </div>
                                    </div>
                                 </div> 
                                    <h1 class="text-edit">  Information Communication Technology </h1> 
                                    <p>
                                            Information Technology program is designed to provide learners with foundational skills, knowledge and competencies in
                                             ICTs that enable them to install, oversee, tune, trouble-shoot and maintain computer systems and design solutions to
                                              common ICT challenges in organizations and among individual ICTs users. It is intended to provide learners with hands-on 
                                              abilities so they can be ICT support staff in an organization or to start their own ICT services to meet the pervasive 
                                              need for ICT technicians as computers become a must-have and essential gadget.
                                        </p>  
                                    <hr class="hr-course-edit">
                                    <h2 class="text-edit">PROGRAMME OBJECTIVES</h2> 
                                    This course aims at:
                                    <ol>
                                            <li> Introducing the students to concepts, with theoretical and practical skills in Information Communications Technology (ICT).</li>
                                            <li>Prepare students to undertake further studies in ICT fields. </li>
                                            <li> Equipping students with skills and knowledge to manage and maintain computer systems.</li>
                                            <li>Equipping students with skills for self-employment. </li>
                                            <li>Stimulate the learners’ creative mind to participate in development of ICT-based applications.</li>
                                    </ol>
    
                                    <hr class="hr-course-edit"> 
                                    <h2 class="text-edit">PROGRAMME LEARNING OUTCOMES</h2>
                                    Upon successful completion of this course, students will be able to:
                                    <ol> 
                                            <li>Apply the concepts, theoretical, and practical skills in Information Communications Technology (ICT). </li>
                                            <li>Pursue further studies in ICT fields. </li>
                                            <li>Manage and maintain computer systems. </li>
                                            <li> Utilize the skills and knowledge of ICT for self-employment.</li>
                                            <li>Demonstrate creativity in the development of ICT-based applications. </li>
                                    </ol>
                            </div>
                      </div>
                    </section>
                   
                </main>
                <aside class="col-lg-3">
                    <section class="row rowEdit" >
                        <div class="col-12">
                            <div class="inner-cols">
                              <app-all-courses></app-all-courses>
                            </div>
                        </div>
                     </section>
                </aside>
            </div>     
    
        </div>
        
    </div>
    
    
    