<div class="row no-gutters">
    <div class="col-12">
        <div class="row ">
            <main class="col-lg-9">
                <section class="row rowEdit">
                    <div class="col-12" >
                      
                        <div class="inner-cols">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100" src="../../assets/img/programmes/cousel_guidance.jpg" alt="students attending lectures">
                                  </div>
                                </div>
                             </div> 
                                <h1 class="text-edit">  COUNSELING AND GUIDANCE </h1> 
                                <p>This course introduces the students to different situations araising from human relationship. use different skills 
                                and also develop human to human relationships. It educates the student about the different counselling methods and 
                                mentoring types and their relevance to a variety of situations.
                                </p> 
                                <hr class="hr-course-edit">
                                <h2 class="text-edit">PROGRAMME OBJECTIVES</h2> 
                                This course aims at:
                                <ol>
                                    <li>Introduce students to the basic concepts of counseling and guidance.</li>
                                    <li>Identify the Biblical concepts of counseling that will help listeners make wise choices.</li>
                                    <li>Explore ethical and professional counseling techniques. </li>
                                    <li> Discuss individual uniqueness and personalities and its role in counseling. </li>
                                    <li> Introduce normal and abnormal behavior coping strategies.</li>
                                    <li>Acquire skills in counseling persons who are seriously ill and facing death.</li>
                                </ol>

                                <hr class="hr-course-edit"> 
                                <h2 class="text-edit">PROGRAMME LEARNING OUTCOMES</h2>
                                Upon successful completion of this course, students will be able to:
                                <ol> 
                                    <li>Demonstrate interest in community development as a generalist social work practice.</li>
                                    <li>Discuss human diversity in the political-economic, socio-cultural, and socio-ecological forces.</li>
                                    <li>Apply practical skills and knowledge of social development.</li>
                                    <li>Demonstrate an attitude and professional responsibility towards community development.</li>
                                    <li>Utilize the skills needed in evaluating the planned changes in local communities, organizations, institutions, and social action programs.</li>
                                </ol>
                        </div>
                  </div>
                </section>
               
            </main>
            <aside class="col-lg-3">
                <section class="row rowEdit" >
                    <div class="col-12">
                        <div class="inner-cols">
                          <app-all-courses></app-all-courses>
                        </div>
                    </div>
                 </section>
            </aside>
        </div>     

    </div>
    
</div>


