  
    <div class="row ">
        <div class="col-sm-12 readme">
            <img class="d-block w-100" src="../../../assets/img/services/hire_grounds.jpg" alt="hire grounds">
            <h2 class="text-edit"> Hire of Pentecostal Theological Gardens</h2>
                    
        </div>
    </div>

    <div class="row" >
        <div class="col-12">
        
         <p>Welcome to Pentecostal Theological Gardens Gardens the perfect location for your wedding reception, special event or photo shoot.
            We are located within easy reach from Mbale City and 1km along around Kumi road  from  the Mbale City clock tower.</p>

         <p>Pentecostal Theological Gardens Gardens provides natural surroundings for your special event and there is something for everyone;
            the kids can have some fun in our play area .</p>

         <p>
            Whether you are looking for an intimate garden wedding venue, open spaces for corporate team building workshops, meeting room 
            or an elegant location for your next launch we are available to host you.
         </p>

         <p>
            For bookings and inquiries please contact Reception on fao number . You can also get details 
            by visiting Pentecostal Theological Gardens reception office
         </p>
    
        </div>
        
    </div>
   



