a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    font-size: 19px;
}
a:hover {
    color: #fff;
    text-decoration: underline;
    background-color:transparent;
    -webkit-text-decoration-skip: objects;
}
a:active {
    color: #fff;
    text-decoration: underline;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

li.media:hover{
    border-radius: 3px 5px 10px 5px;
    box-shadow: rgba(0, 0, 0,.5) 1px 0px 0px 2px;
    background-color: #f3e2e2;
    color: #fff;
    background: rgba(129,53,49,0.4);
    border-radius: 3px 5px 10px 5px;
}

li{
    background-color:#813531;
    border-radius: 3px 5px 10px 5px;
    margin-bottom:.2rem;
    padding-left:4px;
}
.hr-edit{
    margin: 0px 0px 0px;
    background-color: #fff;
}

.h3-edit{
    font-size:20px;
    font-weight: 400;
    color:#813531;
    text-align: center;
}