<h3 class="h3-edit">Diploma Programme</h3>
<ul class="list-unstyled ul-course-edit" >
    <li class="media">
        <a [routerLink]="['/programme-diploma-bible-theology']" routerLinkActive="active">
        <!--<img class="mr-3" src="../../../assets/img/ptc-logo-small2.svg" alt="Dip. in Bible and theology">-->
            Bible and Theology
        </a>
    </li>
    <hr class="hr-edit">
    <li class="media">
        <a [routerLink]="['/programme-diploma-it']" class="card-link text-left" >
           Information Comm Tech
        </a>
    </li>
    <hr class="hr-edit">
    <li class="media">
        <a [routerLink]="['/programme-diploma-agri-business']" class="card-link text-left">
           Agri-Business
        </a>
    </li>
    <hr class="hr-edit">
    <li class="media">
        <a [routerLink]="['/programme-diploma-socail-dev']" class="card-link text-left">
           Social Development
        </a>
    </li>
    <hr class="hr-edit">
    <li class="media">
            <a [routerLink]="['/programme-diploma-child-dev']" class="card-link text-left">
              <!-- <img class="mr-3 align-self-center" src="../../../assets/img/ptc-logo-small2.svg" alt="Child Development"> --> 
                Child Development
            </a>
    </li>
    <hr class="hr-edit">
    <li class="media">
            <a [routerLink]="['/programme-diploma-counseling-and-guidance']" class="card-link text-left">
                 Counseling and guidance
            </a>
    </li>
    
</ul>

<h3 class="h3-edit"> Certificate Programme</h3>
<ul class="list-unstyled ul-course-edit" >
        <li class="media">
            <a [routerLink]="['/programme-diploma-bible-theology']" routerLinkActive="active">
            <!--<img class="mr-3" src="../../../assets/img/ptc-logo-small2.svg" alt="Dip. in Bible and theology">-->
                Church Ministry
            </a>
        </li>
        <hr class="hr-edit">
        <li class="media">
            <a [routerLink]="['/programme-diploma-it']" class="card-link text-left" >
               Information Comm Tech
            </a>
        </li>
        <hr class="hr-edit">
        <li class="media">
            <a [routerLink]="['/programme-diploma-agri-business']" class="card-link text-left">
               Agri-Business
            </a>
        </li>
        <hr class="hr-edit">
        <li class="media">
                <a [routerLink]="['/programme-diploma-counseling-and-guidance']" class="card-link text-left">
                     Counseling and guidance
                </a>
        </li>
    </ul>
    <p class="text-center">
        <a  class="btn btn-info" role="button" style="background-color:brown" [routerLink]="['/programme-tuition']">Our Tuition</a>
        <a  class="btn btn-info" role="button" style="background-color:brown" [routerLink]="['/contact-us']">Contact us</a>
    </p>