<div class="row no-gutters">
    <div class="col-12">
        <div class="row ">
            <main class="col-lg-9">
                <section class="row rowEdit">
                    <div class="col-12" >
                      
                        <div class="inner-cols">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100" src="../../assets/img/programmes/children.jpg" alt="children">
                                  </div>
                                </div>
                             </div> 
                                <h1 class="text-edit"> Child Development </h1> 
                                <p class="text-justify">
                                    Child Development  course is aimed at producing graduates who are equipped with theoretical and practical skills to better 
                                    the well-being of children. They will be able to approach children’s ministry with a passion motivated by God’s Word, 
                                    professional excellence and integrity of character, so as to bring about holistic child development. 
                                    As the students undergo this programme, they will move from courses focused on foundational theory to those that 
                                    address accepted best practices and the skills they need to help all categories of children in the diverse communities 
                                    that they are a part of. This programme also offers opportunities to help each student mature spiritually, as well as
                                     opportunities to connect with child-focused ministries through internships throughout Uganda.
                                </p> 
                                <hr class="hr-course-edit">
                                <h2 class="text-edit">PROGRAMME OBJECTIVES</h2> 
                                This course aims at:
                                <ol>
                                    <li>Introducing students to critical and major developments in children.  </li>
                                    <li>Explore how the gospel is the foundation for children ministry. </li>
                                    <li>Introduce students to the laws and policies which govern children’s rights.</li>
                                    <li>Equip students with skills for counselling children and starting as well as sustaining projects.</li>
                                    <li>Prepare students for research and further studies in child development.</li>
                                </ol>

                                <hr class="hr-course-edit"> 
                                <h2 class="text-edit">PROGRAMME LEARNING OUTCOMES</h2>
                                Upon successful completion of this course, students will be able to:
                                <ol> 
                                    <li> Discuss the critical and major developments in children. </li> 
                                    <li>Describe how the gospel is the foundation for children ministry.</li> 
                                    <li>Articulate how the laws and policies govern children’s rights.</li>
                                    <li>Apply skills for counselling children, and starting  and sustaining projects.</li>
                                    <li>Demonstrate the knowledge and skills in research methods for further studies in child development.</li>
                                </ol>
                      </div>
                  </div>
                </section>
               
            </main>
            <aside class="col-lg-3">
                <section class="row rowEdit" >
                    <div class="col-12">
                        <div class="inner-cols">
                          <app-all-courses></app-all-courses>
                        </div>
                    </div>
                 </section>
            </aside>
        </div>     

    </div>
    
</div>


