     
  <section class="row row-slide">
    <div class="col-12">
         <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../../assets/img/about/history2.jpg" alt="Graduate receives transcript">
            </div>
          </div>
    
        </div>
    </div>
  </section>

                          
    <section class="row">
      <div class="col-12 ">
          <h2 class="text-edit"> HISTORICAL BACKGROUND </h2> 
      </div>
        <div class="col-12 ">         
            <p class="text-justify">
                Pentecostal Theological College was established in 1968.
                At that time the training was in local languages to Pastors and other church workers.
                Since then, over 2000 Students have graduated and are active in church ministries in Uganda,
                Rwanda, Sudan and Kenya. In 1983 the college introduced a three-year diploma program 
                in Bible and Theology as well as  developed a team of highly qualified and committed Faculty members who are passionate 
                in empowering learners to reach their maximum potential and so we are known for this academic
                 excellence in theological education and exercising transformational leadership skills in the 
                 field. In 2011, Pentecostal Theological College got licensed by NCHE, and also added two certificates 
                i.e. Certificate in Church Ministries (CCM) and Certificate in Church Administration 
                and Management (CAM). In 2014, Pentecostal Theological College opened the department of community transformation 
                where five diploma programmes were accredited by National Council for Higher Education (NCHE).
                 A government body mandated to License Higher Institutions in Uganda.
            </p>
        </div>
    </section>
     
    <section class="row">
        <div class="col-12 ">
            <h2 class="text-edit"> OUR VISION </h2> 
        </div>
        <div class="col-12">
            <p class="text-center">
                Godly Transformational Leaders changing Community.
            </p>
        </div>
    </section>
      
    <section class="row">
        <div class="col-12">
            <h2 class="text-edit"> MISSION </h2> 
        </div>
        <div class="col-12">
            <p class="text-center">
                Develop Biblical Education that engages Students with life changing skills.
            </p>
        </div>
    </section>

    <section class="row">
        <div class="col-12 ">
            <h2 class="text-edit"> GOALS </h2> 
        </div>
        <div class="col-12">
            As Pentecostal Theological College, We Strive to: 
            <ol>
                <li>To Design and enhance academic quality and excellence to prepare Students to use various entrepreneurial skills that impact the holistic needs of the community. </li>
                <li> Building Christian Community leaders globally to reach their full God-given potential.</li>
                <li>Develop and promote educational programmes to facilitate students to become change agents in the community life.</li>
                <li>To foster a mentoring and coaching educational environment to promote personal and community innovation.</li>
                <li>Train God-dependent leaders to be proactive critical thinker who can apply skills to improve and impact the holistic needs of the community.</li>
                <li> Empower students to fulfill the great Commandment and Commission (Evangelism & Missions) in whatever role they are led through Gods direction.</li>    
            </ol>
        </div>
    </section>

    <section class="row">
        <div class="col-12 ">
            <h2 class="text-edit">CORE VALUES </h2> 
        </div>
        <div class="col-12">
            Since it is often values, which bring people together to accomplish a task, Pentecostal Theological College holds on the following values: 
            <ol>
                <li>We recognize the supremacy of God revealed as Father, Son and Holy Spirit (Trinity). </li>
                <li>Community-Centered.</li>
                <li>Teamwork and Stewardship.</li>
                <li>Integrity & Accountability.</li>
                <li>Professionalism and Academic excellence.</li>
                <li> Servant-leadership.</li>    
            </ol> 
        </div>
    </section>

    <section class="row">
        <div class="col-12 ">
            <h2 class="text-edit"> FACILITIES </h2> 
        </div>
        <div class="col-12">
            <p class="text-justify">
                Pentecostal Theological College has well established infrastructure for effective learning. The Library is well 
                stocked with recent text books and other e-learning materials aimed at facilitating the
                 transfer and adoption of knowledge, practices and experience sharing. 
                 The class rooms are also adquate and specious to accomondate any number of new and 
                 continueing students. There is enough room and open space to conduct students
                  indoor and outdoor games.
            </p>
        </div>
    </section>
    
    <section class="row">
            <div class="col-12 ">
                <h2 class="text-edit"> MINISTRY OUTREACH </h2> 
            </div>
            <div class="col-12">
                <p class="text-justify"> 
                    As part of our Mission to touch and transforn nations with the love of Christ, Our Students 
                    participate in ministry outreaches at the hospitals, churches, and crusades in the 
                    different communities. We also engage the students for 2 months internship in different 
                    Churches to demostrate the skills learnt in class.
                </p>
            </div>
    </section>


    <app-testmonies></app-testmonies>

  



