
h3.text-edit {
  margin-top: 10px;
  text-align: center;
}

section.footer-row {
  background-color: #1fc776;
  /* background-color: #7cdd76; */
}


.footer-cols{
  background: #813531;
  border-radius: 6px 12px 12px 12px;
  color: #f3e2e2;
  
}

address {
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
  padding-left: 0px;
}

@media (min-width:320px){
  address {
    margin-bottom: 0rem;
    }
}



