
h3.text-edit {
  margin-top: 10px;
  text-align: center;
}

section.footer-row {
  background-color: #0d0d0d;
  /* background-color: #7cdd76; */
}


.footer-cols{
  /* background: #813531; */
  /* background:#000; */
  border-radius: 6px 12px 12px 12px;
  /* color: #f3e2e2; */
  color:#FFFFCC;  
}


.footer-cols ul li a {
    color: #FFFFCC;
}

h2.footer-title {
  margin-top: 2rem;
  text-align: left;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
}
ul.footer-fonts{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:1.2rem;
}

address {
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
  padding-left: 0px;
}

@media (max-width:575.98px){
  ul.footer-fonts{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:.9rem;
  }
}



