  
    <div class="row ">
        <div class="col-sm-12 readme">
            <img class="d-block w-100" src="../../../assets/img/index/college_life.jpg" alt="Graduate receives transcript">
            <h2 class="text-edit"> Projects </h2>
            <p class="text-justify">
                Pentecostal Theological College provide opportunities for real-world learning. Throught the various projects
                 in agribusiness and social equity                     
            </p>
          
        </div>
    </div>

    <div class="row" >
        <div class="col-12">
            <div class="row">
                
                    <section class="row rowEdit">
                      
                        <div class="col-12" >


                            <div class="row  row-cols-md-2">
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../../../assets/img/projects/research.jpg" class="img-rounded card-img-top" alt="Sports">
                                        <div class="card-body">
                                            <h5 class="card-title">RESEARCH PROJECT</h5>
                                            <p class="card-text text-justify">
                                                As an accademic institution, we recognize the relevance of research. Currently, we are developing a team of proffessional 
                                                staff who will engage the church and community in identifying their critical needs of the church. As much as, 
                                                we have done it in the past, we are strengthening the capacity of the accademic staff to undertake this dynamic
                                                 project. The development of our new programs will be anchored on this sort of assessments and findings.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../../../assets/img/projects/pro_ministry2.png" class="img-rounded card-img-top" alt="Student Guild">
                                        <div class="card-body">
                                            <h5 class="card-title"> MINISTRY PROJECT</h5>
                                            <p class="card-text text-justify">
                                                Pentecostal Theological College has designed some projects which are aimed at enhencing the wholistic ministry of the 
                                                college. The farm has become an intergral component which has streamlined the thinkig of our 
                                                students to biblical mandate that we take care of all that God has entrusted to human hands, 
                                                Good stewardship, with practical exposure, student have learnt how to relate and deal with 
                                                community issues by intergrating Biblical approaches; especialy through intership trainings.
                                            </p>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../../../assets/img/projects/pro_sanitation.png" class="img-rounded card-img-top" alt="Sanitation Project">
                                        <div class="card-body">
                                            <h5 class="card-title">Sanitation Project</h5>
                                            <p class="card-text text-justify">
                                                We are also training our students to live and promote servant leadersship in and outside classroom.
                                                 PTC assigns students to undertake various activities which are aimed at promoting the hygiene and 
                                                 sanitation in the college. This includes cleaning walls, offices, compound etc. Students are also
                                                  participating in cleaning and washing their own lecturerooms. 
                                                With this, we have maintained a tidy and clean enviroment.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../../../assets/img/projects/project.png" class="img-rounded card-img-top " alt="Accomodation">
                                        <div class="card-body">
                                            <h5 class="card-title">Ebenezer Farm Project </h5>
                                            <p class="card-text text-justify">
                                                Ebenezer college farm is located in Namanyonyi Lower, Bumageni parish, Bungokho subcounty, Mbale District on 15 acres of fertile land site. It was officially lunched on 1st Nov 2011. 
                                                Current Projects at Ebenezer include:
                                                Dairy project as the main project, 
                                                Forestry project, 
                                                Piggery project, 
                                                Vegetable growing Project, 
                                                Poultry project, and 
                                                Banana plantation project.  
                                                It acts as a training ground for both students and the community.
                                            </p>
                                            Future Plan
                                            <ul> 
                                                <li>A big training and Research Institute in both crops and animals</li>
                                                <li>Become the leading diary producer in Eastern Uganda</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../../../assets/img/projects/pro_football.png" class="img-rounded card-img-top" alt="Sports">
                                        <div class="card-body">
                                            <h5 class="card-title">SPORTS PROJECT</h5>
                                            <p class="card-text text-justify">
                                                 God has blessed Pentecostal Theological  College with students who are talented in different sports and games. we have three vibrant
                                                 games at the college which are soccer, netball, and volleyball. Our soccer team is fully engaged in 
                                                 soccer matches with other institutions of higher learning in uganda
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="../../../assets/img/projects/staff_reno.jpg" class="img-rounded card-img-top" alt="Construction Project">
                                        <div class="card-body">
                                            <h5 class="card-title">Construction Project</h5>
                                            <p class="card-text text-justify">
                                                The staff quarters under construction
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </section>
                   
               
                
            </div>     
    
        </div>
        
    </div>
   



