
    <div class="row ">
        <div class="col-sm-12 readme">
            <img class="d-block w-100" src="../../../assets/img/index/app_procedure.jpg" alt="Graduate receives transcript">
           </div>
    </div>


    <div class="row no-gutters" style="margin-top:20px;">
        <div class="col-12">
            <div class="row ">
                <aside class="col-lg-4">
                        <app-ar-message></app-ar-message>
                </aside>

                <main class="col-lg-8">
                    <section class="row rowEdit">
                        <div class="col-12" >
                            <h1 class="text-edit">Academic Programmes</h1> 
                            <p class="text-justify">
                                Pentecostal Theological College Mbale offers a number of Diploma and certificate programmes 
                                which are designed to produce Christ-like Leaders with life changing skills for church 
                                and community. The programmes are offered in three intakes of January, May and  
                                August Semesters.
                            </p>
                            <p>
                                Application is made through filling an application form obtained at a non refundable application 
                                fee at the Main Campus, You may also <a href="../../../assets/application-form.pdf" target="_blank">download the application form from here</a> and pay 
                                for it on submission.
                            </p>    
                            
                        </div>
                    </section>
                   
                </main>
                
            </div>     
    
        </div>
        
    </div>
    