
    <div class="row ">
        <div class="col-sm-12 readme">
            <img class="d-block w-100" src="../../../assets/img/index/app_procedure.jpg" alt="Graduate receives transcript">
           </div>
    </div>


    <div class="row no-gutters" style="margin-top:20px;">
        <div class="col-12">
            <div class="row ">
                <aside class="col-lg-4">
                    <img src="../../../assets/img/admins/ar.jpg" alt="Academic registrar" class="rounded img-fluid mx-auto d-block" style="width: 200px;">

                    <p class="text-center"> 
                        <em> <b> Ms. Grace Aluka </b> </em><br>
                        <em> <b><small>Academic Registrar</small></b> </em>
                    </p>
                    Thank you all our viewers/clients for choosing PTC among many. We as Pentecostal Theological College Love you, value you and... 
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#academics"> Read more</button>
                    <div id="academics" class="collapse">
                        <p class="text-justify" >
                            welcome you to apply for any course of your choice seen in our course list. We have highly qualified lecturers who are ready to help you achieve your academic and personal goals. we trust God will guide you to the right course to persue. You can download our application form, fill it and send it back to us on: ptheocombale23@gmail.com. As PTC, it is always our policy that you pass through the office of the academic Registrar and obtain right procedures and information about us <br> At PTC, Registrars' office will provide you with a number of services, including:</p>
  
                    </div>  
                </aside>

                <main class="col-lg-8">
                    <section class="row">
                        <div class="col-12" >
                            <h1 class="text-edit">SCHOLARSHIP PROGRAMMES</h1> 
                            
                                              
                            <p class="text-left">PTC offers three major categories of scholarships. These include:</p>
                            <ul> 
                                <li> New student Scholarship
                                    <ul><li> Pentecostal Theological College offers 25% scholarsip to all new students who join our college to do new programs and is just for first semester.</li></ul>
                                </li>
                                <li>Timothy Scholarships   
                                    <ul><li>Pentecostal Theological College 25% Timothy scholarship is offered on the whole semester college costs and is open to any qualified need student in the college.
                                        </li></ul>            
                                </li>
                                <li>PAG Church scholarship 
                                    <ul><li>Also known as Pentecostal Assemblies of God National Office 25% shepherd scholarship given on the whole semester college costs. This is strictly assistance for Pentecostal Assemblies of God church leaders.
                                        </li></ul>                        
                                </li> 
                            </ul>   
                        </div>
                    </section>
                   
                </main>
                
            </div>     
    
        </div>
        
    </div>
    