<img src="../../../assets/img/admins/ar.jpg" alt="Academic registrar" class="rounded img-fluid mx-auto d-block" style="width: 200px;">

<p class="text-center"> 
    <em> <b> Ms. Grace Aluka </b> </em><br>
    <em> <b><small>Academic Registrar</small></b> </em>
</p>
Thank you all our viewers/clients for choosing PTC among many. We as Pentecostal Theological College Love you, value you and... 
<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#academics"> Read more</button>
<div id="academics" class="collapse">
    <p class="text-justify" >
        welcome you to apply for any course of your choice seen in our course list. We have highly qualified lecturers who are ready to help you achieve your academic and personal goals. we trust God will guide you to the right course to persue. You can download our application form, fill it and send it back to us on: ptheocombale23@gmail.com. As PTC, it is always our policy that you pass through the office of the academic Registrar and obtain right procedures and information about us <br> At PTC, Registrars' office will provide you with a number of services, including:</p>
    <ul class="text-left">
               <li> Registration</li>
                <li>Student access to academic records</li>
                <li>Information on policies and procedures</li>
                <li>Conduct examinations</li>
                <li>Preparation of transcripts and records</li>
                <li>Grade recording and reporting</li>
               <li> Class schedules</li>
                <li>Certification of enrollment and/or graduation</li>
                <li>Course registration and add/drop forms</li>
               <li> Preparation of college statistics</li>                            
    </ul>  
</div>