<div class="row no-gutters">
    <div class="col-12">
        <div class="row ">
            <main class="col-lg-9">
                <section class="row rowEdit">
                    <div class="col-12" >
                      
                        <div class="inner-cols">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100" src="../../assets/img/programmes/social_dev.jpg" alt="students in a lecture room">
                                  </div>
                                </div>
                             </div> 
                                <h1 class="text-edit"> SOCIAL DEVELOPEMENT </h1> 
                                <p class="text-justify">
                                    Social Development  course is aimed at producing graduates who are equipped with theoretical and practical skills to better
                                    the well-being of the people in the comunity. They will guide communities, agricultural development agencies and 
                                    neighborhood organizations, providing leadership, services, harnessing and sustaining the communal spirit for which 
                                    African cultures are well known towards a planned community development in the society.
                                    They will be able to approach the people in the comunity with a passion motivated by God’s Word, professional 
                                    excellence and integrity of character, so as to bring about holistic social development
                                </p> 
                                <hr class="hr-course-edit">
                                <h2 class="text-edit">PROGRAMME OBJECTIVES</h2> 
                                This course aims at:
                                <ol>
                                    <li>Developing the student's interest in studying community organization and development as a generalist social work practice.</li> 
                                    <li>Introduce students to human diversity in the political-economic, socio-cultural, and socio-ecological forces.</li> 
                                    <li>Equipping the students with practical skills and knowledge of social development.</li> 
                                    <li>Fostering the students attitude and professional responsibility towards community development.</li> 
                                    <li>Equipping students with the skills needed in evaluating the planned changes in local communities, organizations, institutions, and social action programs.</li> 
                                </ol>

                                <hr class="hr-course-edit"> 
                                <h2 class="text-edit">PROGRAMME LEARNING OUTCOMES</h2>
                                Upon successful completion of this course, students will be able to:
                                <ol> 
                                    <li>Demonstrate interest in community development as a generalist social work practice.</li>
                                    <li>Discuss human diversity in the political-economic, socio-cultural, and socio-ecological forces.</li>
                                    <li>Apply practical skills and knowledge of social development.</li>
                                    <li>Demonstrate an attitude and professional responsibility towards community development.</li>
                                    <li>Utilize the skills needed in evaluating the planned changes in local communities, organizations, institutions, and social action programs.</li>
                                </ol>
                      </div>
                  </div>
                </section>
               
            </main>
            <aside class="col-lg-3">
                <section class="row rowEdit" >
                    <div class="col-12">
                        <div class="inner-cols">
                          <app-all-courses></app-all-courses>
                        </div>
                    </div>
                 </section>
            </aside>
        </div>     

    </div>
    
</div>


