 <section class="row">
        <div class="col-sm-12  col-md-12 ">
            <h2 class="text-edit"> JOIN US NOW!!!!</h2> 
        </div>
      <div class="col-sm-12 col-md-12">
          <img class="card-img-top d-block w-100" src="../../assets/img/index/apply1.jpg" alt="Graduate receives transcript">
      </div>
    </section>
    <!--call action -->
    <section class="row text-center">
        <!-- cols cols-lg-4-edit -->
        <!-- <div class="col-sm-12 col-md-2  col-lg-3 cols " > 
           [routerLink]="['/programmes']"
         <span><a  class="apply_links cols"   >Courses Offered</a>  </span> 
        </div> -->
      <div class="col-sm-12 col-md-4 col-lg-4 cols cols-lg-4-edit" > 
            <span><a  class="apply_links cols" [routerLink]="['/programmes']"  >Courses Offered</a>  </span>
          
      </div>
  
    <div class="col-sm-12 col-md-4 col-lg-4 cols cols-lg-4-edit  ">
          <!--  -->
          <span><a class="apply_links" [routerLink]="['/studentLife']" >Life at the college</a>  </span>
      </div>
      <!--  -->
      <div class="col-sm-12 col-md-3 col-lg-3  cols cols-lg-4-edit ">
          <!-- [routerLink]="['/application']" -->
          <span><a class="apply_links" [routerLink]="['/application']" >How to Apply</a>  </span>
      </div>
    </section>

