<div class= "card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body" *ngIf="programme">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">Name:</div>
                    <div class="col-md-6">{{programme.programmeName}}</div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="row no-gutters">
    <div class="col-12">
        <div class="row ">
            <main class="col-lg-9">
                <section class="row rowEdit">
                    <div class="col-12" >
                      
                        <div class="inner-cols">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100" src="../../assets/img/programmes/agric_business.jpg" alt="On the farm">
                                  </div>
                                </div>
                             </div> 
                                <h1 class="text-edit">  courseTitle </h1> 
                                <p class="text-justify">
                                   course description
                                </p> 
                                <hr class="hr-course-edit">
                                <h2 class="text-edit">PROGRAMME OBJECTIVES</h2> 
                                This course aims at:
                                <ol>
                                    <li>Introduce students to the opportunities and constraints in Agribusiness.</li>
                                    <li>Discuss the importance of records keeping.</li>
                                    <li>Explore the resources and capital needed for Agribusiness.</li> 
                                    <li>Examine current issues in Agribusiness.</li>
                                </ol>

                                <hr class="hr-course-edit"> 
                                <h2 class="text-edit">PROGRAMME LEARNING OUTCOMES</h2>
                                Upon successful completion of this course, students will be able to:
                                <ol> 
                                    <li>  Discuss to the opportunities and constraints in Agribusiness.</li>
                                    <li> Describe the importance of records keeping.</li>
                                    <li> Apply knowledge and skills for recruiting resources and capital needed for Agribusiness. </li>
                                   <li>  Discuss current issues in Agribusiness.</li>
    
                                </ol>
                      </div>
                  </div>
                </section>
               
            </main>
            <aside class="col-lg-3">
                <section class="row rowEdit" >
                    <div class="col-12">
                        <div class="inner-cols">
                          <app-all-courses></app-all-courses> 
                      <p> missing text </p>
                        </div>
                    </div>
                 </section>
            </aside>
        </div>     

    </div>
    
</div> --> 

