

<div class="container">
    <section class="row">
        <div class="col-12">

            <div class= "card" *ngIf="programme">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-fluid mr-3" [src]="programme.programmeImageUrl" alt="course image">
                            <div class="col-12">
                                <h1 class="heading1"> {{programme.programmeName}}</h1>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body" *ngIf="programme">
                    <div class="row">
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="heading2 text-center"> Course description</h2>  
                                {{ programme.programme_description}} 
                            
                            <hr class="hr-course-edit">
                            <h2 class="heading2 text-center">PROGRAMME OBJECTIVES</h2> 
                                This course aims at:
                                <ol class="list-group">
                                    <li class="list-group-item">Introduce students to the opportunities and constraints in Agribusiness.</li>
                                    {{programme.programme_objectives}}
                                </ol>

                                <hr class="hr-course-edit"> 
                                <h2 class="heading2 text-center">PROGRAMME LEARNING OUTCOMES</h2>
                                Upon successful completion of this course, students will be able to:
                                <ol> 
                                    <li>  Discuss to the opportunities and constraints in Agribusiness.</li>
                                    {{programme.programme_outcomes }}
                                    
                                    'programme_tuition': '300,000',
                                    'programme_duration': '2 years',
    
                                </ol>
                        </div>
                                <!-- <div class="col-md-6">{{programme.programmeName}}  <b>{{programme.programmeId}} </b></div>
                                <div class="col-md-1">{{programme.programmeId}}</div>  -->
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- <section class="row">
        <div class="col-12">
            <div class="fixed-attachment">
                <h1 class="heading1"> 
                </h1>
            </div>
        </div>
      </section> -->

    <!--call action -->
    <app-apply-now></app-apply-now>

<!--Campus life-->

<!-- sTUDENT TESTMONY  -->
    <app-testmonies></app-testmonies>

</div>






<!-- <div class="row no-gutters">
    <div class="col-12">
        <div class="row ">
            <main class="col-lg-9">
                <section class="row rowEdit">
                    <div class="col-12" >
                      
                        <div class="inner-cols">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100" src="../../assets/img/programmes/agric_business.jpg" alt="On the farm">
                                  </div>
                                </div>
                             </div> 
                                <h1 class="text-edit">  courseTitle </h1> 
                                <p class="text-justify">
                                   course description
                                </p> 
                                <hr class="hr-course-edit">
                                <h2 class="text-edit">PROGRAMME OBJECTIVES</h2> 
                                This course aims at:
                                <ol>
                                    <li>Introduce students to the opportunities and constraints in Agribusiness.</li>
                                    <li>Discuss the importance of records keeping.</li>
                                    <li>Explore the resources and capital needed for Agribusiness.</li> 
                                    <li>Examine current issues in Agribusiness.</li>
                                </ol>

                                <hr class="hr-course-edit"> 
                                <h2 class="text-edit">PROGRAMME LEARNING OUTCOMES</h2>
                                Upon successful completion of this course, students will be able to:
                                <ol> 
                                    <li>  Discuss to the opportunities and constraints in Agribusiness.</li>
                                    <li> Describe the importance of records keeping.</li>
                                    <li> Apply knowledge and skills for recruiting resources and capital needed for Agribusiness. </li>
                                   <li>  Discuss current issues in Agribusiness.</li>
    
                                </ol>
                      </div>
                  </div>
                </section>
               
            </main>
            <aside class="col-lg-3">
                <section class="row rowEdit" >
                    <div class="col-12">
                        <div class="inner-cols">
                          <app-all-courses></app-all-courses> 
                      <p> missing text </p>
                        </div>
                    </div>
                 </section>
            </aside>
        </div>     

    </div>
    
</div> --> 

