  <section class="row row-edited">
        <div class="col-12">
        <h2 class="text-edit"> <b>Student Testimonies</b> </h2>
        </div>
  </section>
  <section class="row text-center">
        <div class="col-lg-6  col-lg-6-edit rubberBand" >
        <img class="img-responsive d-block w-100" src="../../assets/img/index/student_test1.jpg">
        </div>
        <div class="col-lg-6 col-lg-6-edit">
        <img class="img-responsive w-100" src="../../assets/img/index/student_test2.jpg"> 
        </div>
  </section>
